@page
@model Web.Fox.Pages.Menu.UpdateDocumentModel
@{
    Layout = "../_Layout";
    ViewBag.Title = "Update Document";
}



<script>
    var totalMetadataRows = 0;
    function RecreateMetadaRows() {
        const firstInput = document.querySelector('#tbodymetadata');

        var newRowHtml = '';
        for (var i = 0; i < totalMetadataRows; i++) {
            var keyInput = document.querySelector('#mkey_' + i);
            var valueInput = document.querySelector('#mvalue_' + i);
            
            var keyPersist = "";
            var valuePersist = "";
            if (keyInput != null && keyInput.value)
                keyPersist = keyInput.value;
            if (valueInput != null && valueInput.value)
                valuePersist = valueInput.value;
            
            newRowHtml += '<tr>';
            newRowHtml += '<td><input class="form-control" type="text" id="mkey_' + i + '" name="[' + i + '].Key" value="' + keyPersist + '"/></td>';
            newRowHtml += '<td><input class="form-control" type="text" id="mvalue_' + i + '" name="[' + i + '].Value" value="' + valuePersist + '" /></td>';
            newRowHtml += '</tr>';
            newRowHtml += '\n';
        }
        firstInput.innerHTML = newRowHtml;
    }

    function addMetadataRow() {
        totalMetadataRows++;
        RecreateMetadaRows();
    }

    function delMetadataRow() {
        totalMetadataRows--;
        RecreateMetadaRows();
    }

</script>


<main class="form-signin w-50 vh-100 mx-auto" style="max-width: 540px; min-width: 400px">
    <div class="w-100 row">
        <div class="card p-5 bg-light w-50 col">
            <form method="post" asp-page-handler="UpdateDocument" enctype="multipart/form-data">
                <input type="hidden" asp-for="DocumentId" />
                <h1 class="h3 mb-5 fw-normal text-center">Update Document</h1>
                <div class="form-floating">
                    <input class="form-control" type="text" asp-for="DocumentName" placeholder="documentname" id="documentname" value="@Model.DocumentName" />
                    <label for="documentname">Document name</label>
                </div>

                <div class="mt-3 border p-3">
                    <h1 class="h5 mb-3 fw-normal text-center">Metadata</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Key</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody id="tbodymetadata"></tbody>
                    </table>
                    <button type="button" class="btn btn-info" onclick="addMetadataRow()">Add Metadata</button>
                    <button type="button" class="btn btn-danger" onclick="delMetadataRow()">Remove Metadata</button>
                </div>
                <div class="mt-5">
                    @if (!string.IsNullOrEmpty(Model.MsgInformation))
                    {
                        <div class="alert @(Model.SuccessOnPost ? "alert-success" : "alert-danger") mb-1" role="alert">
                            @Model.MsgInformation
                        </div>
                    }
                    <button class="btn btn-primary w-100" type="submit" >Update Document</button>
                </div>
            </form>
            <div class="row mt-3 d-flex justify-content-end">
                <a class="btn btn-secondary" asp-page="DownloadDocument" style="max-width: 100px">Go Back</a>
            </div>
        </div>
    </div>
</main>


<script>
    totalMetadataRows = @(Model.DocumentInformation.Metadata.Count);
    RecreateMetadaRows();
    @for (int i = 0; i < Model.DocumentInformation.Metadata.Count; i++)
    {
        <text>
        var keyInput = document.querySelector('#mkey_' + @(i));
        var valueInput = document.querySelector('#mvalue_' + @(i));

        keyInput.value = "@(Model.DocumentInformation.Metadata.ElementAt(i).Key)";
        valueInput.value = "@(Model.DocumentInformation.Metadata.ElementAt(i).Value)";
        </text>
    }

</script>
